doctype html
html(lang='ru')
  include ../_components/mixins
  include ../templates/head


  body.body
    //#upbutton
    //  img(src='../img/upbutton.svg' alt='', title='').upbutton
    include ../_components/header
    include ../_components/modals

    include ../_components/menu-mob

    .header-fade
    .wrapper
      block content

    include ../_components/footer

    include ../templates/scripts.pug
      
