extends ../templates/template-index


block content
  .container.py-50
    .row.page-list.mt-4
      .col-md-7.mx-auto
        h2.mb-4.pb-10.border-bottom Список страниц
        ul.pl-0.mb-4
          li.mb-2
            a(href="main.html", style="") Главная
        
        //h3.mb-4.pb-10.border-bottom Регистрация/вход
        //ul.pl-0.mb-4
        //  li.mb-2
        //    a(href="registration.html", style="") Регистрация (ждем правок) -
            
        //h2.mb-4.mt-4.pb-10.border-bottom Модальные окна
        //ul.pl-0.mb-4.mt-4
        //  li.mb-2
        //    a(href="#modal" data-toggle="modal") Модалка

