footer.footer
  .container
    .footer__wrap
      .footer-info__wrap
        .footer-info__logo
          img(src='../img/logo-footer.svg' alt='', title='').footer-logo
      .footer-info__wrap
        .footer-info__title Контакты
        nav.menu-footer
          ul.menu-footer__list
            li.menu-footer__item
              .menu-footer__text ул. Волочаевская, 8г
            li.menu-footer__item
              a(href="tel:+74212470300").menu-footer__link +7 (4212)470-300
            li.menu-footer__item
              a(href="tel:+74212253085").menu-footer__link +7 (4212) 25-30-85
      .footer-info__wrap
        .footer-info__title Мы в соцсетях
        nav.menu-footer
          ul.menu-footer__list
            li.menu-footer__item
              a(href="javascript:void(0);").menu-footer__link Instagram
            li.menu-footer__item
              a(href="javascript:void(0);").menu-footer__link Facebook
            li.menu-footer__item
              a(href="javascript:void(0);").menu-footer__link Vkontakte
      .footer-info__wrap
        .footer-map__wrap
          .menu-footer__text Найди нас </br> на карте
          .menu-footer__map--wrap 
            img(src='../img/map-img.png' alt='', title='').menu-footer__map
      
      
    
      
